.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $header;
  padding-top: 10px;
  background-color: $font-color-2;

  button {
    background: $font-color-2;
    border: none;
    font-weight: bold;
    color: $font-color;
    border-radius: 10px;
    margin: 0 0 0 10px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      //   transition: 1s;
      border: none;
      animation: pulse 4s infinite;
      animation-timing-function: linear;
    }
    @keyframes pulse {
      0% {
        // background: $primary-dark;
        transform: scale(1);
      }
      50% {
        transform: scale(1);
        background: $primary;
        color: $font-color-2;
      }
      100% {
        //   background-color: $font-color-2;
        transform: scale(1);
      }
    }
    &:active {
      background-color: $primary;
      color: $font-color-2;
    }
  }
}

.app-title {
  font-weight: 700;
  font-size: 38px;
  font-family: $header;
}
.hidden-columns {
  display: none;
}
.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-logo-div {
  display: flex;
  flex-direction: row;
  line-height: inherit;
  border-radius: 4px;
  background-color: $font-color-2;
  margin: 0 10px;
  a {
    color: $font-color;
    text-decoration: none;
    &:hover {
      border: none;
      animation: pulse 4s infinite;
      animation-timing-function: linear;
    }
    @keyframes pulse {
      0% {
        // background: $primary-dark;
        transform: scale(1);
      }
      50% {
        transform: scale(1);
        background: $primary;
        color: $font-color-2;
      }
      100% {
        //   background-color: $font-color-2;
        transform: scale(1);
      }
    }
  }
  i {
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    pointer-events: none;
  }
  // vertical-align: bottom;
}
.js-itl-logo {
  position: absolute;
  top: 0;
  // right: 45%;
  left: 47.5%;
  height: 70px;
  padding-top: 5px;
  display: none;
}

.splash,
.splash-2 {
  p {
    padding-top: 50px;
    font-size: 24px;
  }
  // padding: 20% 20px 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-family: $header;
  color: $font-color-2;
  align-items: center;
  // padding-bottom: 50px;
  // background: pink;
  h1 {
    padding-top: 60px;
    font-weight: bold;
    font-size: 48px;
  }
  .sub-title-1 {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: $header;
    color: $font-color;
  }
  .sub-title-2 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: $header;
    // padding-top: 250px;
    // position: absolute;
  }
  .features {
    font-weight: bold;
    font-size: 30px;
    color: $primary-light;
    font-family: $title;
    padding-top: 40px;
  }
  .sub-title-alt {
    font-weight: bold;
    font-size: 30px;
    color: $primary-light;
    font-family: $title;
  }
  .carousel-container {
    min-height: 600px;
    img {
      border-radius: 10px;
      height: auto;
      max-height: 600px;
      box-shadow: -5px 5px 10px rgba(23, 37, 42, 0.1);
    }
    @keyframes Fade {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
    animation-name: Fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7000ms;
    animation-direction: normal;
  }
}

a {
  color: $primary-light;
  &:hover {
    text-decoration: underline;
  }
}

//modal

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(43, 122, 120, 0.8);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.splash-2 {
  display: flex;
}
