.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $header;
  margin-top: 10px;

  button {
    background: $font-color-2;
    border: none;
    font-weight: bold;
    color: $font-color;
    border-radius: 10px;
    margin: 0 0 0 10px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      //   transition: 1s;
      border: none;
      animation: pulse 4s infinite;
      animation-timing-function: linear;
    }
    @keyframes pulse {
      0% {
        // background: $primary-dark;
        transform: scale(1);
      }
      50% {
        transform: scale(1);
        background: $primary;
        color: $font-color-2;
      }
      100% {
        //   background-color: $font-color-2;
        transform: scale(1);
      }
    }
  }
}

.app-title {
  font-weight: 700;
  font-size: 38px;

}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-logo-div {
  display: flex;
  flex-direction: row;
  line-height: inherit;
  border-radius: 4px;
  background-color: $font-color-2;
  margin: 0 10px;
  a {
    color: $font-color;
    text-decoration: none;
     &:hover {
      border: none;
      animation: pulse 4s infinite;
      animation-timing-function: linear;
    }
    @keyframes pulse {
      0% {
        // background: $primary-dark;
        transform: scale(1);
      }
      50% {
        transform: scale(1);
        background: $primary;
        color: $font-color-2;
      }
      100% {
        //   background-color: $font-color-2;
        transform: scale(1);
      }
    }

  }
  i {
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    pointer-events: none;
    
  }
  // vertical-align: bottom;
}


//modal

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(43, 122, 120, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}