@import "reset.scss";
@import "palette.scss";
@import "header.scss";
@import "modal.scss";
@import "ticker_info.scss";
@import "ticker_chart.scss";
@import "footer.scss";
@import "search.scss";

body {
  background-color: $primary;
  color: $font-color;
}

.container {
  min-width: 100%;
}
