.modal-content {
  background: $primary-dark;
  border-radius: 8px;
}

.modal-close {
  cursor: pointer;
}
.wiki-title {
  color: $font-color;
  font-weight: bold;
  font-family: $title;
}
.modal-information {
  font-size: 20px;
  font-family: $body;
  text-decoration: none;
  background-color: $primary-dark;
  li,
  p {
    padding: 10px 0;
    padding-left: 50px;
    color: $font-color-2;
  }
  a {
    text-decoration: none;
    color: $font-color;
    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0 25px 50px;
    text-align: left;
    color: $font-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  h5 {
    padding: 10px 0;
    font-weight: bold;
    padding-left: 50px;
    color: $font-color-2;
  }
  .components {
    padding-bottom: 10px;
  }
  .wiki-components {
    padding-bottom: 20px;
  }
  .wiki-contents li {
    padding: 0px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .wiki-header {
    margin-top: 10px;
    text-align: left;
    .wiki-header-title {
      color: $font-color-2;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 24px;
      // text-decoration: underline;
    }
  }
  .first-lim {
    font-weight: bold;
  }
  .ltr-li {
    font-weight: bold;
    color: $font-color;
  }
  .ltr-span {
    color: $font-color-2;
    font-weight: normal;
    text-decoration: none;
  }
  #wiki-contact {
    padding-bottom: 20px;
    text-align: center;
    cursor: auto;
    &:hover {
      color: $font-color;
      text-decoration: none;
    }
  }

  .wiki-links {
    font-weight: bold;
    text-align: center;
    margin: 0;
    li {
      padding: 0;
      margin-bottom: 10px;
      background-color: $primary-dark;
      a {
        color: $font-color-2;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.wiki-body {
  li {
    padding: 10px 5px;
    margin-left: 50px;
    background: $primary-dark;
    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

#wiki-contact {
  padding: 20px 0;
}
.wiki-links {
  li {
    background-color: $primary-light;
  }
}
.search-ul {
  display: none;
}
.search-active {
  display: block;
}

.information-ul {
  display: none;
}
.information-active {
  display: block;
}

.charts-ul {
  display: none;
}
.charts-active {
  display: block;
}

.limitations-ul {
  display: none;
}
.limitations-active {
  display: block;
}

.learn-ul {
  display: none;
}
.learn-active {
  display: block;
}
.future-ul {
  display: none;
}
.future-active {
  display: block;
}
