// @import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// // $header: "Palandquin Dark", serif;
// // $body: "Playfair Display", sans-serif;
$title: "Pacifico";
$header: "Helvitca", serif;
$body: "Helvetica", sans-serif;

$primary: #3aafa9;
$primary-dark: #2b7a78;
$primary-light: #def2f1;
$font-color: #feffff;
$font-color-2: #17252a;
