// .ticker-chart {
//   padding: 20px 10px;
//   width: 40%;
// }

.chart {
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#dailyChart {
    width: 100%;
    height: auto;
    max-height: 60%;
    // max-width: 60%;
    padding-right: 20px;
}


#weeklyChart {
    width: 100%;
    height: auto;
    max-height: 60%;
    // max-width: 60%;
    padding-right: 20px;
}

