.single-ticker {
  padding: 20px 10px;
  width: 40%;
  .content {
    background: pink;
    border-radius: 4px;
    padding: 10px;
    h1 {
      font-weight: bolder;
      font-size: 20px;
      margin-bottom: 10px;
    }
    h4 {
      font-weight: bolder;
      margin: 5px 0;
    }
    p {
      margin: 5px 0;
    }
  }
}
