.single-ticker {
  padding: 0 10px;
  width: 40%;
  height: 650px;
  overflow-y: scroll;
  font-family: $body;

  .content {
    border-radius: 4px;
    padding: 10px;
    height: auto;
    background: #def2f1;
    &:hover {
      background-color: $font-color;
      transition: 2s;
    }
    h1 {
      font-weight: bolder;
      font-size: 20px;
      margin-bottom: 10px;
    }
    h4 {
      font-weight: bolder;
      margin: 5px 0;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      &:hover {
        background-color: rgba(43, 122, 120, 0.4);
        border-radius: 2px;
        transition: 1s;
        cursor: default;

      }
      span {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
