// .ticker-chart {
//   padding: 20px 10px;
//   width: 40%;
// }

#myChart {
    width: 40%;
    height: auto;
    max-height: 60%;
    max-width: 60%;
    padding-right: 20px;
}


#myChart2 {
    width: 40%;
    height: auto;
    max-height: 60%;
    max-width: 60%;
    padding-right: 20px;
}

